.edit-profile-container {
}

.edit-profile-card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    text-align: center;
    background: #303030;
    width: 30rem;
    min-height: 30rem;
    border-radius: 1rem;
    padding: 4rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-card input {
    border-color: #403f3f;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.25rem;
    border-style: solid;
}

.edit-profile-card button {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: block;
}
