.home-page-container {
    text-align: center;
    margin: auto;
}

.info-container {
    margin-top: auto;
    float: left;
    text-align: left;
    width: 50%;
    padding: 30vh 10rem 20vh 15vh;
}

.login-container {
    float: right;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 100vh;
    min-width: 500px;
    padding-top: 30vh;
}

.login-container h2 {
    padding-bottom: 1.5rem;
}

.login-container input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.25rem;
    border-color: transparent;
}

.login-container button {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: block;
}

.sign-up-link {
    margin-top: 0;
    background: transparent;
    color: #46afe0;
    cursor: pointer;
    display: inline;
    margin-left: 1rem;
}

.sign-up-link:hover {
    text-decoration: underline;
    color: #46afe0;
}

@media only screen and (max-width: 1000px) {
    .info-container {
        display: none;
    }

    .login-container {
        width: 100%;
    }
}

