.home-page-container {
    text-align: center;
    margin: auto;
}


.info-container {
    margin-top: auto;
    float:left;
    text-align: left;
    width: 50%;
    padding: 30vh 10rem 20vh 15vh;
}

.login-container {
    float:right;
    margin:auto;
    text-align: center;
    width: 50%;
    height: 100vh;
    min-width: 500px;
    padding-top: 30vh;
}

.login-container h2 {
    padding-bottom: 1.5rem;
}

.login-container input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.25rem;
    border-color: transparent;
}

.login-container button {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: block;
}

.sign-up-link {
    margin-top: 0;
    background: transparent;
    color: #46afe0;
    cursor: pointer;
    display: inline;
    margin-left: 1rem;
}

.sign-up-link:hover {
    text-decoration: underline;
    color: #46afe0;
}

@media only screen and (max-width: 1000px) {
    .info-container {
        display: none;
    }
    .login-container {
        width: 100%;
    }
}

.signup-container {
    position: absolute;
    background:#242424;
    width: 30rem;
    min-height: 30rem;
    border-radius: 1rem;
    padding: 4rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}