.matchmaking-bar {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #1a1a1a;
    color: #fff;
}

.maximise-button {
    background-color: #3d3d3d;
}

.exit-button {
    background-color: #ff2945;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.timer-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #3d3d3d;
    font-size: 1.5rem;
    margin: 5px;
}
