* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #303030;
    width: 100%;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

.site-title {
    font-size: 2rem;
    align-self: flex-start;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    color: #c2c2c2;
    margin-left: auto;
}

.nav a {
    color: inherit;
}

.nav li.active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
}

.nav a:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.profile-button {
    background-color: transparent;
    user-select: none;
}

.profile-button:hover {
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.profile-button.active {
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
    top: 5rem;
    right: 20px;
    background-color: #303030;
    border-radius: 1rem;
    padding: 10px 20px;
    width: 20rem;
    z-index: 2;
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.1),
        0 4px 4px 0 rgba(0, 0, 0, 0.09);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: linear 0.2s;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: linear 0.2s;
}

.dropdown-menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    line-height: 1.2rem;
    color: white;
}

.dropdown-menu h3 span {
    font-size: 14px;
    font-weight: 400;
}

.dropdown-menu ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul {
    display: inline-block;
}

.dropdown-menu ul li:hover a {
    color: white;
    cursor: pointer;
}

.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a {
    margin-left: 10px;
    width: 100%;
    transition: var(--speed);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .site-title {
        display: none;
    }
}
