.question-page-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding: 0 1rem
}


.question-container td {
    padding: 0.75rem 1rem;
}


.question-container th {
    padding: 0 2rem 0.5rem 1rem;
    text-align: left;
    min-width: 100%;
    border-bottom: 2px solid #303030;
}

#id-header {
    width: 7rem;
}

.question-container input {
    padding: 0.5rem 0 0.5rem 0.5rem;
    width: 100%;
}

.question-container select {
    padding: 0.55rem;
}

.custom-desc-input {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 10px;
    min-width: 525px;
    min-height: 200px;
}

.questionForm input {
    width: 10rem;
}

/* QuestionModal.css */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    max-width: 80%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal p {
    font-size: 18px;
}

.modal button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

Dialog {
    color: #242424;
}

.question-table tbody tr:nth-child(even) {
    background-color: #303030;
}

/* Apply styles to odd rows */
.question-table tbody tr:nth-child(odd) {
    background-color: #242424;
}

.question-table {
    border-collapse: collapse;
    width: 100%;
}

