@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400&display=swap');

.horizontal-split-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 58px);
    padding: 10px;
    background-color: #202020;
}

.vertical-split-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.pane {
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #303030;
}

.hidden-chat {
    background: black;
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 50px;
    position: fixed;
    padding: 0 20px;
    bottom: 0;
}

.chat-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px 10px 0 0;
}

.chat-box {
    background: black;
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 500px;
    position: fixed;
    padding: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

.chat-box form {
    background-color: #c2c2c2;
    height: 50px;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-box input {
    background-color: transparent;
    height: 30px;
    width: 100%;
    border-color: transparent;
    color: #303030;
}

.chat-box input:focus {
    outline: none;
}

.chat-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: white;
    color: black;
    padding: 5px 0;
}

.message-item-received {
    flex-direction: column;
    margin: 5px auto 5px 0;
}

.message-item-join-leave {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px auto;
    justify-content: center;
  }

.message-box-join-leave {
    background-color: #808080;
    font-weight: bold;
    color: white;
}

.message-item-sent {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px auto;
    justify-content: right;
}

.text-box-received {
    background-color: #00b8a2;
    display: flex;
    padding: 10px;
    border-radius: 15px 15px 15px 5px;
    color: white;
    max-width: 300px;
    margin: 0 10px;
}

.text-box-sent {
    background-color: #fe375f;
    display: flex;
    padding: 10px;
    border-radius: 15px 15px 5px 15px;
    color: white;
    max-width: 300px;
    margin: 0 10px;
}

.sender-info {
    display: flex;
    justify-content: left;
    margin: 0 10px;
    font-style: italic;
    font-size: 12px;
    color: #575757;
}

.editor-container {
    height: 100%;
    background-color: #242424;
    border-radius: 5px;
    padding: 0;
    overflow: scroll;
}

.ce-container {
    display: flex;
    font-size: 13px;
    justify-content: right;
    gap: 10px;
    background-color: #303030;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
}

.error-output {
    background-color: #3d1c1c;
    color: #db4242;
    height: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Mono', serif;
}

.code-output {
    background-color: #242424;
    height: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Mono', serif;
}

.problem-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 5px 10px;
}

.editor-header {
    display: flex;
    align-items: center;
    background-color: #303030;
    height: auto;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.dropdown-wrapper {
    position: relative;
    z-index: 1;
}

.dropdown-wrapper-question {
    z-index: 1;
    margin: 10px 0;
    background-color: #3d3d3d;
    min-width: auto;
    border-radius: 5px;
}

.toggle-button {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 10px;
    width: auto;
    height: 30px;
    font-size: 16px;
    text-align: left;
    background: transparent;
    gap: 5px;
    color: #c2c2c2;
    font-family: 'Roboto', sans-serif;
}

.toggle-button:active,
.toggle-button:focus {
    border-style: none;
}

.toggle-button:hover {
    color: white;
}

.button-text {
    width: 100%;
}

ul.listbox {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #303030;
    border: 1px solid #3d3d3d;
    width: auto;
    max-height: 300px;
    overflow: scroll;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    list-style: none;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.listbox.isOpen {
    display: block;
}

.list-option {
    cursor: pointer;
    text-align: left;
    padding: 10px 20px;
    width: auto;
}

.list-option.highlighted,
.list-option:hover,
.list-option:focus {
    background-color: #3d3d3d;
}
