
.id-col {
  min-width: 60px;
  text-align: left;
}

.title-col {
  min-width: 170px; /* Adjust the minimum width as needed */
  text-align: left;
}

.description-col {
  min-width: 140px;
  text-align: left;
}

td {
  padding-right: 10px;
}

.category-col {
  min-width: 160px;
  text-align: left;

}

.complexity-col {
  min-width: 120px; /* Adjust the minimum width as needed */
  text-align: left;

}

.actions-col {
  min-width: 200px; /* Adjust the minimum width as needed */
  text-align: left;
}

.custom-input {
  width: 120px; /* Set the width here */
}

.app-container {
  min-width: 600px;
  padding: 100px
}

input {
  padding: 10px;
}

select {
  padding: 10px;
}

.custom-id-input {
  width: 35px;
}

.custom-title-input {
  width: 150px;
}

.custom-cat-input {
  min-width: 120px;
}

.custom-desc-input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px;
  min-width: 500px;
  min-height: 200px;
}

.